/* reset */
img {
  vertical-align:bottom;
}
p {
  margin: 0;
}
ul,dl,dd {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
table {
  border-spacing: 0;
  width: 100%;
}
/* common */
body {
  font-family:"M PLUS Rounded 1c", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  background-color: #4FC3F7;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
.fl-left {
  float: left;
}
.fl-right {
  float: right;
}
.responsive-img {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .pc-none {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .sp-none {
    display: none !important;
  }
}
/* comp-ui */
.form-elem {
  margin-bottom: 1rem;
}
.form-elem:nth-of-type(1) {
  margin-top: 1rem;
}
label.comp-ui {
  font-weight: bold;
}
label.comp-ui span {
  color: #F4511E;
  padding-left: .5rem;
}
p.comp-ui {
  color: #F4511E;
  padding-top: .5rem;
}
p.comp-ui i:before {
  padding-right: .25rem;
}
select.comp-ui {
  appearance: none;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  box-sizing: content-box;
}
button.comp-ui {
  background: none;
  border:none;
  cursor: pointer;
}
a.comp-ui,
button.comp-ui {
  width: 100%;
  padding: .5rem 0;
  border-bottom: solid 1px #bbb;
  border-radius: 3rem;
  display: block;
  text-align: center;
  background-color: #FDD835;
}
input[type="text"].comp-ui,
select.comp-ui,
textarea.comp-ui {
  display: block;
  width: 100%;
  padding: .5em;
  box-sizing: border-box;
  border: solid 1px #ddd;
  border-radius: 3px;
}
label>input[type="text"].comp-ui,
label>select.comp-ui,
label>textarea.comp-ui {
  margin-top: .25rem;
}
input[type="text"]::placeholder {
  color: #ccc;
}
/* user-list */
.container,
.user-list {
  margin: 0 auto;
}
.user-list {
  padding-top: 62px;
}
.user-list section {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
.user-list section .circle {
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  color: white;
}
.user-list section .circle .holder {
  display: table;
  width: 100%;
  height: 100%;
}
.user-list section .circle .holder .contents {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.user-list section .circle .holder .contents .nickname {
  font-size: 1rem;
  margin: 0;
  height: 50%;
}
.user-list section .circle .holder .contents .strength {
  border-top: dotted 4px white;
  padding-top: .5rem;
  height: 50%;
}
.user-list section .circle .holder .contents .strength .strength-name {
  margin-bottom: .25rem;
}
@media (max-width: 576px) {
.container,
.user-list {
  width: 344px;
}
.user-list section:nth-of-type(2n) {
  margin-right: 0;
}
.user-list section .circle {
  width: 148px;
  height: 148px;
  border-width: 8px;
}
.user-list section .circle .holder .contents .nickname {
  font-size: .9rem;
  padding-top: 34px;
}
.user-list section .circle .holder .contents .strength {
  font-size: .8rem;
}
}
@media (min-width: 576px) and (max-width: 768px) {
.container,
.user-list {
  width: 546px;
}
.user-list section:nth-of-type(3n) {
  margin-right: 0;
}
.user-list section .circle {
  width: 152px;
  height: 152px;
  border-width: 10px;
}
.user-list section .circle .holder .contents .nickname {
  font-size: .9rem;
  padding-top: 34px;
}
.user-list section .circle .holder .contents .strength {
  font-size: .8rem;
}
}
@media (min-width: 768px) and (max-width: 992px) {
.container,
.user-list {
  width: 738px;
}
.user-list section:nth-of-type(3n) {
  margin-right: 0;
}
.user-list section .circle {
  width: 212px;
  height: 212px;
  border-width: 12px;
}
.user-list section .circle .holder .contents .nickname {
  padding-top: 52px;
}
}
@media (min-width: 992px) and (max-width: 1200px) {
.container,
.user-list {
  width: 962px;
}
.user-list section:nth-of-type(4n) {
  margin-right: 0;
}
.user-list section .circle {
  width: 205px;
  height: 205px;
  border-width: 12px;
}
.user-list section .circle .holder .contents .nickname {
  padding-top: 50px;
}
}
@media (min-width: 1200px) {
.container,
.user-list {
  width: 1170px;
}
.user-list section:nth-of-type(5n) {
  margin-right: 0;
}
.user-list section .circle {
  width: 198px;
  height: 198px;
  border-width: 12px;
}
.user-list section .circle .holder .contents .nickname {
  padding-top: 48px;
}
}
/* search-component */
.search-component {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  background-color: #4FC3F7;
}
/* admin */
.admin-list li {
  display: table;
  width: 100%;
  background-color: white;
  border-top: solid 1px #4FC3F7;
}
.admin-list li .username,
.admin-list li .nickname,
.admin-list li .action {
  display: table-cell;
  vertical-align: middle;
  padding: 1rem;
}
.admin-list li .username,
.admin-list li .action {
  width: 25%;
}
.admin-list li .action a {
  width: 48%;
}
