extends ../layout

block content
  #app

block template
  template(id="user-add")
    .container
      form(@submit="checkForm", method="post", action="/users/add")
        .form-elem
          label.comp-ui お名前
            span 非表示
            input.comp-ui(type="text", name="username", v-model="username")
          p.comp-ui(v-if="errors.username")
            i.fas.fa-exclamation-circle {{errors.username}}
        .form-elem
          label.comp-ui メールアドレス
            span 非表示
            input.comp-ui(type="text", name="email", v-model="email")
          p.comp-ui(v-if="errors.email")
            i.fas.fa-exclamation-circle {{errors.email}}
        .form-elem
          label.comp-ui ニックネーム
            input.comp-ui(type="text", name="nickname", v-model="nickname")
          p.comp-ui(v-if="errors.nickname")
            i.fas.fa-exclamation-circle {{errors.nickname}}
        .form-elem
          label.comp-ui 得意技
            input.comp-ui(type="text", name="strength", v-model="strength")
          p.comp-ui(v-if="errors.strength")
            i.fas.fa-exclamation-circle {{errors.strength}}
          p.comp-ui
            i.fas.fa-exclamation-circle 複数入力する場合は「,」で区切ってください
        .form-elem
          label.comp-ui 説明
            textarea.comp-ui(name="description", v-model="description", rows="10")
        button.comp-ui(type="submit") 登録

block scripts
  script.
    var app = new Vue({
      el: '#app',
      template: '#user-add',
      data: {
        errors: {},
        username: undefined,
        email: undefined,
        nickname: undefined,
        strength: undefined,
        description: undefined
      },
      methods: {
        checkForm: function(e) {
          if (this.username && this.email && this.nickname && this.strength) {
            return true;
          }
          this.errors = {};
          if (!this.username) {
            this.errors.username = 'お名前を入力してください';
          }
          if (!this.email) {
            this.errors.email = 'メールアドレスを入力してください';
          }
          if (!this.nickname) {
            this.errors.nickname = 'ニックネームを入力してください';
          }
          if (!this.strength) {
            this.errors.strength = '得意技を入力してください';
          }
          e.preventDefault();
        }
      }
    });
