extends ../layout

block content
  .container
    h1= title
    #app

block template
  template(id="user-list")
    .user-list.clearfix
      section(v-for="user in users" v-bind:key="user.userId")
        .circle
          .holder
            .contents
              h1.nickname {{user.nickname}}
              .strength
                p.strength-name(v-for="item in user.strength" v-bind:key="user.strength.strengthId") {{item.strengthName}}

block scripts
  script.
    const app = new Vue({
      el: '#app',
      template: '#user-list',
      data: {
        users: []
      },
      mounted() {
        fetch('/users/list')
          .then(response => response.json())
          .then((data) => {
            this.users = data;
          })
      }
    });
