extends ../layout

block content
  #app

block template
  template(id="user-list")
    div
      .search-component
        .container
          input.comp-ui.search(type="text", placeholder="search...", v-bind:value="pattern", v-on:input="handleInput")
      .user-list.clearfix
        section(v-for="user in matched" v-bind:key="user.userId")
          .circle
            .holder
              .contents
                h1.nickname {{user.nickname}}
                .strength
                  p.strength-name(v-for="item in user.strength" v-bind:key="user.strength.strengthId") {{item.strengthName}}

block scripts
  script.
    const app = new Vue({
      el: '#app',
      template: '#user-list',
      data: {
        pattern: '',
        users: []
      },
      mounted() {
        fetch('/users/list')
          .then(response => response.json())
          .then((data) => {
            this.users = data;
          })
      },
      methods: {
        handleInput: function(event) {
          this.pattern = event.target.value
        }
      },
      computed: {
        matched: function() {
          return this.users.filter(function (el) {
            var strength = '';
            if(el.strength.length > 0) {
              for (var item of el.strength) {
                strength += item.strengthName;
              }
            }
            var pattern = new RegExp(this.pattern, 'i');
            return pattern.test(el.nickname) || pattern.test(strength)
          }, this)
        },
      }
    });
